altair==5.5.0
altgraph==0.17.4
asgiref==3.9.0
attrs==25.1.0
bcrypt==4.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chess==1.11.2
click==8.1.8
colorama==0.4.6
cryptography==45.0.4
distlib==0.3.9
Django==5.2.4
docutils==0.21.2
filelock==3.18.0
filetype==1.2.0
Flask==3.1.0
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
gTTS==2.5.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
narwhals==1.28.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
Pillow==10.1.0
platformdirs==4.3.7
plotly==6.0.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pyarrow==19.0.1
pycparser==2.22
pydeck==0.9.1
Pygments==2.19.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-chess==1.999
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.15.1
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.38
sqlparse==0.4.4
stockfish==3.28.0
streamlit==1.42.2
tenacity==9.0.0
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.3.0
virtualenv==20.30.0
watchdog==6.0.0
Werkzeug==3.1.3
